.card-container {
    position: fixed;
    width: 40%;
    top: 25%;
    left: 30%;
}

.card-container header {
    padding: 1rem;
    background: #4675e0;
    color: white;
    border-radius: 3px;
}

.card-body {
    margin-top: 50px;
    margin-bottom: 50px;
}
